# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# files with environment variables
.env
/.env
/android/.env.local
/env.g.dart
env.g.dart
/android/key.properties
/android/keystore/private_key.pepk
/android/keystore/
/ios/Podfile.lock
/coverage/
coverage/lcov.info
coverage
/ios/Runner/GoogleService-Info.plist
ios/Runner/GoogleService-Info.plist
/android/fastlane/metadata/android/fr-FR/images/
/android/fastlane/metadata/android/en-US/images/
/android/google-play-store.json
/ios/fastlane/screenshots
/ios/app_store_connect.json
test/mocks/retrofit_client_mock.mocks.dart
android/app/.cxx
/android/app/.cxx/Debug/
test/mocks/retrofit_client_test.mocks.dart
/test/mocks/
test/infrastructure/dio_mock.mocks.dart
test/infrastructure/logging_interceptor_test.mocks.dart
test/retrofit_client_mock.mocks.dart
test/retrofit_client_test/retrofit_client_test.mocks.dart
.firebase

