<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1pFu9eKGPHpELtJAQnnBIXCtHKShCzoc</string>
	<key>GCM_SENDER_ID</key>
	<string>917469553417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turskyi.lifecoach</string>
	<key>PROJECT_ID</key>
	<string>life-coaching-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>life-coaching-ai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917469553417:ios:932d0720197b596d8aa9d8</string>
</dict>
</plist>